@font-face {
	font-family:'megi_sansregular';
	src:url('fonts/megi_sans_demo-webfont.eot');
	src:url('fonts/megi_sans_demo-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/megi_sans_demo-webfont.woff2') format('woff2'),
		url('fonts/megi_sans_demo-webfont.woff') format('woff'),
		url('fonts/megi_sans_demo-webfont.ttf') format('truetype'),
		url('fonts/megi_sans_demo-webfont.svg#megi_sansregular') format('svg');
	font-weight:normal;
	font-style:normal
}
body {
	border-top:2px solid #3a5c3b
}
.container {
	
}
.navbar-default {
	background-color:#fff !important;
	border-color:#fff !important
}
#sidebar2 {
	padding-left:0
}

.relativo {
	position:relative;
	height:90px
}
.link-home {
	position:absolute;
	bottom:0;
	right:30px
}
.page-header h1 {
	font-family:'megi_sansregular';
	font-size:30px;
	color:#4f8e3a;
	border-bottom:2px solid #4f8e3a;
	text-transform:uppercase
}
.lead {
	font-family:'megi_sansregular';
	font-size:20px;
	color:#3a5b3a;
	text-transform:uppercase
}
.container-menu {
	background:#3a5c3b;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden
}
.menu-principal {
	float:left;
	left:50%;
	height:58px;
	margin:0 auto;
	padding:0;
	position:relative
}
.menu-principal a {
	text-transform:uppercase
}
.menu-principal > li {
	position:relative;
	right:50%;
	list-style:none;
	float:left;
	margin:0 10px
}
.menu-principal > li a {
	font-family:'megi_sansregular';
	line-height:52px;
	font-size:15px;
	text-shadow:0px 2px 1px rgba(0, 0, 0, 1);
	color:#fff;
	text-decoration:none;
	padding:0 20px;
	margin-top:3px;
	display:block
}
.menu-principal > li.current-menu-item a,
.menu-principal > li a:hover {
	background-image:url('images/fondo-menu.png')
}
#menu-principal-1 .sub-menu {
	background-color:transparent;
	background-image:url('images/menu-corner.png');
	background-position:top right;
	background-repeat:no-repeat;
	margin:0;
	padding:14px 0 0;
	width:185px;
	position:absolute;
	overflow:hidden;
	z-index:10;
	left:-50px;
	top:44px
}
#menu-principal-1 .sub-menu li {
	background-color:#4f8e3a;
	padding:10px 15px 10px 20px;
	list-style:none;
	float:left;
	width:100%
}
#menu-principal-1 .sub-menu li:hover {
	background:#fff
}
#menu-principal-1 .sub-menu a {
	font-size:12px!important;
	text-shadow:none!important;
	line-height:14px!important;
	text-decoration:none!important;
	padding:0!important;
	margin-top:0!important
}
#menu-principal-1 .sub-menu li:hover a {
	color:#4f8e3a!important
}
.vertical-menu ul {
	margin:0;
	padding:0
}
.vertical-menu li {
	border-bottom:1px solid #3a5c3b;
	list-style:none;
	width:100%;
	float:left;
	padding:8px;
	margin-bottom:2px
}
.vertical-menu a {
	text-transform:uppercase;
	font-family:'megi_sansregular';
	font-size:14px;
	color:#211915;
	text-decoration:none
}
.vertical-menu li.current-menu-item {
	background-image:url('images/fondo-menu-vertical.png');
	background-position:top left;
	background-repeat:no-repeat;
	margin-top:5px;
	padding-bottom:15px
}
.vertical-menu li.current-menu-item a {
	color:#fff
}
.vertical-menu .sub-menu li {
	border-bottom:1px solid #3a5b3a;
	list-style:none;
	width:100%;
	float:left;
	padding:4px
}
.vertical-menu .sub-menu li:last-child {
	border-bottom:none
}
.vertical-menu .sub-menu li a {
	font-size:11px;
	color:#3a5b3a
}
.vertical-menu .sub-menu li.current-menu-item {
	background-color:#4f8e3a
}
.vertical-menu .sub-menu li.current-menu-item a {
	color:#fff
}

.meteor-slides .meteor-buttons {
	bottom:5px;
	left:5px
}
.widget_text {
	font-family:'megi_sansregular';
	background-color:#4f8e3a;
	color:#fff;
	padding:33px 23px 0;
	height:212px;
	font-size:16px;
	position:relative
}
.widgettitle {
	margin-top:0;
	font-size:21px
}
.widget_text .link {
	font-family:'megi_sansregular';
	background-color:#3a5c3b;
	color:#fff;
	font-size:14px;
	height:30px;
	line-height:30px;
	width:100%;
	display:block;
	padding-right:14px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:right
}
#text-3.widget_text {
	font-family:Arial;
	background-color:transparent;
	color:#000;
	padding:0 0 12px;
	height:auto;
	font-size:14px
}
#text-3 .widgettitle {
	display:none
}
.titular-noticias {
	font-family:'megi_sansregular';
	font-size:30px;
	padding-bottom:8px;
	color:#4f8e3a;
	border-bottom:2px solid #4f8e3a;
	position:absolute;
	width:286px;
	z-index:9999
}
.advps-slide-field-three img {
	float:right
}
.advs-title {
	margin-top:47px!important;
	width:286px;
	height:80px;
	line-height:20px !important;
	border-bottom:1px solid #a7c69c;
	position:relative;
	color:#3a5b3a;
	font-family:'megi_sansregular';
	font-size:18px!important;
	font-weight:normal!important
}
.imagen-noticia img {
	
}
.advps-excerpt-three p {
	color:#3a5b3a;
	font-size:14px;
	line-height:22px
}
.fecha {
	font-family:'megi_sansregular';
	color:#87868a;
	font-size:13px;
	position:absolute;
	right:0;
	bottom:3px
}
.evento .titular-noticias,
.evento .advs-title {
	width:88%
}
footer {
	background-color:#306536
}
footer p {
	padding:8px 0 0 0;
	text-align:center;
	line-height:16px
}
footer p,
footer a {
	color:#fff;
	font-size:13px
}
footer a:hover {
	color:#fff;
	text-decoration:none
}
legend.titulo {
	background-image:url('images/fondo-leyenda.png');
	font-size:12px;
	color:#fff;
	position:absolute;
	bottom:0;
	border:none;
	margin-bottom:0;
	padding-left:10px;
	line-height:18px
}
.bx-controls-direction {
	display:none
}
.previo, 
.siguiente {
	color:#3a5b3a;
	font-size:11px
}

@media(max-width:767px){
	body {
		padding-top:50px
	}
	.container-menu {
		display:none
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position:fixed
	}
	#sidebar2 {
		padding-left:15px
	}
}
@media(min-width:768px) and (max-width:991px){
	.widget_text {
		padding:13px;
		font-size:13px
	}
	.widgettitle {
		font-size:16px
	}
	.widget_text .link {
		font-size:12px
	}
}
@media(min-width:768px){
	#menu-principal {
		display:none
	}
}
@media(min-width:992px){
	.widget_text {
		height:278px
	}
}
@media(min-width:1200px){
	.widget_text {
		height:281px
	}
}